.desktop__icns {
  list-style-type: none;
  margin-top: 1%;
  margin-left: 1%;
}

.icn {
  margin-bottom: 15px;
  width: 48px;
}

@media only screen and (max-width: 736px) {
  .icn {
    cursor: pointer;
  }
}

.icn__label {
  color: #FFF;
  font-family: 'Verdana';
  font-size: 12px;
  text-align: center;
}
