.folder {
  background-color: #FFF;
  height: 400px;
  left: 350px;
  bottom: 300px;
  position: absolute;
  width: 650px;
  &.alert {
    height: 200px;
    width: 350px;
    background-color: #c0c0c0;
    border-right: 1px #000 solid;
    border-bottom: 1px #000 solid;
    border-top: 1px #FFF solid;
    border-left: 1px #FFF solid;
  }
}

@media only screen and (max-width: 736px) {
  .folder {
    width: 100%;
    height: 57%;
    left: 0;
    top: 15%;
  }
}

.folder__bar--primary {
  background-color: #020282;
  height: 25px;
  padding-left: 5px;
  width: 100%;
}

.folder__bar--secondary {
  background-color: #BDBDBD;
  cursor: default;
  font-family: 'Verdana';
  font-size: 12px;
  height: 25px;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  word-spacing: 10px;
}

.bar__title {
  color: #FFF;
  display: inline-block;
  font-family: 'Verdana';
  font-size: 14px;
  margin-top: 4px;
}

.bar__icn {
  cursor: pointer;
  display: inline-block;
  float: right;
}

.bar__icn--expand {
  margin-right: 3px;
  margin-top: 5px;
}

.bar__icn--minimize {
  margin-right: 1px;
  margin-top: 5px;
}

.bar__icn--close {
  margin-right: 3px;
  margin-top: 5px;
}

.folder__items--container {
  @include taskbar-inset();
  height: 342px;
  &:read-write:focus {
     outline: none;
  }
}

@media only screen and (max-width: 736px) {
  .folder__items--container {
    height: 57%;
  }
}

.folder__items--list {
  list-style-type: none;
  margin-top: 15px;
  margin-left: 15px;
}

.folder__container {
  border: 4px solid #c2c2c2;
  height: 100%;
}

.folder__label {
  color: #000;
}

.folder__icn {
  display: inline-block;
  margin-right: 35px;
}

.folder__message {
  height: 100%;
  padding: 50px;
}
