.folder {
  background-color: #FFF;
  border: 4px solid #c2c2c2;
  height: 300px;
  left: 350px;
  bottom: 300px;
  position: absolute;
  width: 550px;
}

.folder__bar--primary {
  background-color: #020282;
  height: 25px;
  padding-left: 5px;
  width: 100%;
}

.folder__bar--secondary {
  background-color: #BDBDBD;
  cursor: default;
  font-family: 'Verdana';
  font-size: 12px;
  height: 25px;
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  word-spacing: 10px;
}

.bar__title {
  color: #FFF;
  display: inline-block;
  font-family: 'Verdana';
  font-size: 14px;
  margin-top: 4px;
}

.bar__icn {
  cursor: pointer;
  display: inline-block;
  float: right;
}

.bar__icn--expand {
  margin-right: 2px;
  margin-top: 5px;
}

.bar__icn--minimize {
  margin-right: 1px;
  margin-top: 5px;
}

.bar__icn--close {
  margin-right: 3px;
  margin-top: 5px;
}
