.taskbar {
  background-color: #C0C0C0;
  border-top: 1px solid #FFF;
  bottom: 0;
  height: 30px;
  position: fixed;
  width: 100%;
}

.taskbar__start-btn {
  @include taskbar-btn();
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: center;
  width: 65px;
}

.start-btn__txt {
  font-family: 'Verdana';
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}

.taskbar__programs {
  display: inline-block;
  margin-left: 25px;
  margin-top: 2px;
  vertical-align: top;
}

.taskbar__tray {
  @include taskbar-inset();
  display: inline-block;
  float: right;
  font-family: 'Verdana';
  font-size: 14px;
  margin-right: 2px;
  padding: 5px 15px 5px 15px;
  width: 95px;
}

.taskbar__program {
  cursor: pointer;
  display: inline-block;
  font-family: 'Verdana';
  font-size: 14px;
  height: 25px;
  margin-right: 10px;
  padding: 3px 80px 2px 7px;
}

.program__icn, .bar__icn--img { vertical-align: middle; }
.open { @include taskbar-inset(); }
.min { @include taskbar-btn(); }
.tray__time { float: right; }
.focused { z-index: 100; }
.unfocused { z-index: 0; }
