<ul class="desktop__icns">
  {{#each items}}
    <li class="icn">
      <img class="icn__image" src="{{this.image}}"/>
      <p class="icn__label">{{this.name}}</p>
    </li>
  {{/each}}
</ul>

<div class="taskbar"></div>
