<div class="folder {{name}}">
  <div class="folder__bar">
    <span class="bar__title">{{name}}</span>
    <img class="bar__icn bar__icn--close" src="../data/img/close-1.png"/>
    <img class="bar__icn bar__icn--expand" src="../data/img/expand.png"/>
    <img class="bar__icn bar__icn--minimize" src="../data/img/minimize.png"/>
  </div>
  <div class="folder__items">
    <p></p>
  </div>
</div>
