<div class="folder alert {{slug}}">
  <div class="folder__container">
    <div class="folder__bar--primary">
      <img class="bar__icn--img" src="{{taskbar-icn}}"/>
      <div class="bar__title">{{name}}</div>
      <img class="bar__icn bar__icn--close" src="../data/img/close.png"/>
    </div>
    <div class="folder__message">
      <p>{{message}}<p>
    </div>
  </div>
</div>
