<div class="taskbar__start-btn">
  <img class="start-btn__icn" src="../data/img/logo.png">
  <p class="start-btn__txt">Start</p>
</div>
<ul class="taskbar__programs"></ul>
<div class="taskbar__tray">
  <p class="tray__time">{{time}}</p>
</div>
