* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background-color: #008582;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('../data/fonts/micross.ttf');
}

.desktop__icns {
  list-style-type: none;
  margin-top: 1%;
  margin-left: 1%;
}

.icn {
  margin-bottom: 15px;
  width: 48px;
}

.icn__label {
  color: #FFF;
  font-family: 'MS Sans Serif', 'Helvetica';
  font-size: 12px;
  text-align: center;
}

.taskbar {
  background-color: #C0C0C0;
  border-top: 1px solid #FFF;
  height: 27px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.folder {
  background-color: #FFF;
  border: 4px solid #c2c2c2;
  height: 300px;
  left: 350px;
  bottom: 500px;
  position: relative;
  width: 550px;
}

.folder__bar {
  background-color: #020282;
  height: 25px;
  padding-left: 5px;
  width: 100%;
}

.bar__title {
  color: #FFF;
  display: inline;
  font-size: 16px;
}

.bar__icn {
  cursor: pointer;
  display: inline-block;
  float: right;
}

.bar__icn--expand {
  margin-right: 2px;
  margin-top: 4px;
}

.bar__icn--minimize {
  margin-right: 1px;
  margin-top: 5px;
}

.bar__icn--close {
  margin-top: 5px;
}

.taskbar__start-btn {
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-left: 2px;
  margin-top: 2px;
  text-align: center;
  width: 60px;
}

.start-btn__txt {
  font-family: 'MS Sans Serif', 'Helvetica';
  font-size: 14px;
  font-weight: bold;
}

.taskbar__programs {
  display: inline-block;
  margin-left: 25px;
}

.program {
  cursor: pointer;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: 'MS Sans Serif', 'Helvetica';
  font-size: 14px;
  margin-right: 10px;
  padding: 0px 15px 2px 15px;
}
